### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/sandbox/

JavaProHillel2024_HomeWork.iml
.idea/
/lib/
/mvnProjects/capcha/target/
/mvnProjects/HomeWork16/target/
/mvnProjects/HomeWork17/target/
/mvnProjects/HomeWork18/target/
/mvnProjects/HomeWork19/target/
/mvnProjects/HomeWork20_Logger/target/
/src/main/java/org/example/logs/*.*
/mvnProjects/HomeWork20_Logger/src/main/java/org/example/logs/*.*
/mvnProjects/HomeWork20_Logger/src/main/java/org/example/logs/
/mvnProjects/HomeWork20_FindFileDublicate/target/*.*

/mvnProjects/HomeWork20_FindFileDublicate/target/classes/org/example/Main.class
/mvnProjects/HomeWork20_FindFileDublicate/target/classes/org/example/FileDuplicateFinder.class
/mvnProjects/HomeWork21_Converter/src/main/java/org/example/FilesToConvert/converted/
/mvnProjects/HomeWork21_Converter/src/main/java/org/example/FilesToConvert/converted/*.*
/mvnProjects/HomeWork21_Converter/target/classes/org/example/Converter$1.class
/mvnProjects/HomeWork21_Converter/target/classes/org/example/Converter.class
/mvnProjects/HomeWork21_Converter/target/Converter.jar
/mvnProjects/HomeWork21_Converter/src/main/java/org/example/Converter.java
/mvnProjects/HomeWork21_Converter/target/Converter-jar-with-dependencies.jar
/mvnProjects/HomeWork21_Converter/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/mvnProjects/HomeWork21_Converter/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/mvnProjects/HomeWork21_Converter/target/classes/org/example/FileService.class
/mvnProjects/HomeWork21_Converter/target/test-classes/org/example/FileServiceTest.class
/mvnProjects/HomeWork21_Converter/target/classes/org/example/dto/Format.class
/mvnProjects/HomeWork21_Converter/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/mvnProjects/HomeWork21_Converter/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/mvnProjects/HomeWork21_Converter/target/classes/org/example/Main.class
/mvnProjects/HomeWork21_Converter/target/surefire-reports/org.example.FileServiceTest.txt
/mvnProjects/HomeWork21_Converter/target/surefire-reports/org.example.SerializerTest.txt
/mvnProjects/HomeWork21_Converter/target/maven-archiver/pom.properties
/mvnProjects/HomeWork21_Converter/src/main/java/org/example/FilesToConvertSON/converted/result.log
/mvnProjects/HomeWork21_Converter/result.log
/result.log
/mvnProjects/HomeWork21_Converter/target/classes/org/example/Serializer.class
/mvnProjects/HomeWork21_Converter/target/classes/org/example/SerializerJson.class
/mvnProjects/HomeWork21_Converter/target/test-classes/org/example/SerializerTest$1.class
/mvnProjects/HomeWork21_Converter/target/test-classes/org/example/SerializerTest$TestClass.class
/mvnProjects/HomeWork21_Converter/target/test-classes/org/example/SerializerTest.class
/mvnProjects/HomeWork21_Converter/target/classes/org/example/SerializerXml.class
/mvnProjects/HomeWork21_Converter/target/classes/org/example/SerializerYaml.class
/mvnProjects/HomeWork21_Converter/target/classes/org/example/SimpleLogger.class
/mvnProjects/HomeWork21_Converter/test.json
/mvnProjects/HomeWork21_Converter/test.txt
/mvnProjects/HomeWork21_Converter/target/surefire-reports/TEST-org.example.FileServiceTest.xml
/mvnProjects/HomeWork21_Converter/target/surefire-reports/TEST-org.example.SerializerTest.xml
/mvnProjects/HomeWork21_Converter/target/classes/org/example/dto/TextData.class
/mvnProjects/HomeWork21_Converter/target/classes/org/example/exceptions/UnknownFormatException.class
/mvnProjects/HomeWork21_Converter/src/main/java/org/example/FilesToConvert/
/mvnProjects/HomeWork21_Converter/src/main/java/org/example/FilesToConvert/*.*

/mvnProjects/HomeWork24_RestService/target/
/mvnProjects/HomeWork25_CoffeeOrder_Logging/target/
/logs/CoffeeOrder/logger.log
/mvnProjects/HomeWork25_CoffeeOrder_Logging/logs/CoffeeOrder/logger.log
/mvnProjects/HomeWork26_Liquibase/target/
/mvnProjects/HomeWork27_Hibernate/target/
/mvnProjects/HomeWork28_Cache/target/
/mvnProjects/HomeWork29_WebServlet/target/
/mvnProjects/HomeWork30_SpringBoot/.mvn/
/logs/
/application.log
