### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/sandbox/

JavaProHillel2024_HomeWork.iml
.idea/
/lib/
/mvnProjects/capcha/target/
/mvnProjects/HomeWork16/target/
/mvnProjects/HomeWork17/target/
/mvnProjects/HomeWork18/target/
/mvnProjects/HomeWork19/target/
